*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --font-family-primary: 'Staatliches', cursive;
  --font-family-secondary: 'Palanquin', sans-serif;
  --font-family-tertiary: 'Roboto', sans-serif;

  --color-purple: #4A4E69;
  --color-grayish-pink: #CBC0D3;
  --color-pink: #FEEAFA;
  --color-white: #FFFFFF;

  --font-color-purple: #23053A;

  --bg-header: #8E9AAF;
  --bg-body: #EFF1FF;

  font-size: 62.5%;
}

body{
  background-color: var(--bg-body);
  font-family: var(--font-family-primary);
}

.page{
  min-width: 38.4rem;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

header{
  height: 27.9rem;
  background-color: var(--bg-header);
}

header img{
  width: 20.0rem;
  padding: 3.2rem 0 1.6rem;

  transition: all 400ms ease-in-out;
}

header img:hover{
  cursor: pointer;
  transform: scale(1.1);
}

header h1{
  color: var(--color-white);
  background-color: var(--color-grayish-pink);

  font-size: 4.0rem;
  font-weight: 400;
  letter-spacing: 0.3rem;

  height: 5.0rem;

  text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
}

main p, header p{
  font-family: var(--font-family-secondary);
  color: var(--font-color-purple);
  font-size: 1.4rem;

  min-width: 30.7rem;
  margin: 3.2rem auto 5.6rem;
  padding: 0 6.4rem;
}

.images{
  display: grid;
  gap: 3.2rem;
}

.ice-cream{
  max-width: 32rem;
  margin: 0 auto;
  
  position: relative;
}

.ice-cream img{
  transition: all 400ms ease-in-out;
}

.ice-cream img:hover{
  cursor: pointer;
  transform: scale(1.02);
  filter: brightness(1.1);
}

.ice-cream h2{
  position: absolute;

  font-weight: 400;
  font-size: 2.0rem;
  letter-spacing: 0.05rem;

  background-color: var(--color-pink);
  color: var(--color-purple);

  width: fit-content;
  padding: 0.7rem 2.3rem 0.5rem;
  top: 1.6rem;
  right: 1.6rem;

  border-radius: 2.0rem;
}

footer{
  height: 6.4rem;
}


/*============= | ANIMATION | =============*/


.images{
  animation-name: downtop;
  animation-duration: 700ms;
}

.ice-cream h2{
  animation-name: topdown; 
  animation-duration:  700ms; 
  animation-delay: 500ms; 
  animation-fill-mode: backwards;
}


/*============= | KEYFRAMES | =============*/


@keyframes downtop{
  0%{
    opacity: 0;
    transform: translateY(30px);
  }

  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes topdown{
  0%{
    opacity: 0;
    transform: translateY(-30px);
  }

  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}


/*============= | MEDIA QUERIES | =============*/

 
@media(max-width: 768px){
  footer p{
    display: none;
  }
}

@media(min-width: 768px){
  main p{
    width: 78rem;
  }

  .images{
    display: grid;
    grid-template-areas: 
    "paletas massas"
    "shakes picoles";
    justify-content: center;
  }

  .images div:nth-child(1){
    grid-area: paletas;
  }

  .images div:nth-child(3){
    grid-area: massas;
  }

  .images div:nth-child(2){
    grid-area: shakes;
  }

  .images div:nth-child(4){
    grid-area: picoles;
  }

  footer p{
    font-family: var(--font-family-secondary);
    font-size: 1.4rem;

    margin-top: 4rem;
  }

  footer p strong:hover{
    cursor: pointer;
  }
}

@media(max-width: 1024px){
  header p{
    display: none;
  }
}

@media(min-width: 1024px){
  
  .page{
    display: flex;
  }

  header{
    height: 100vh;
    width: 37rem;
  }

  header img{
    margin-bottom: 1.6rem;
  }

  header h1{
    height: 7rem;
    line-height: 7rem;

    font-size: 4.6rem;
  }

  header p{
    color: var(--color-white);
    font-family: var(--font-family-tertiary);

    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
  }

  section{
    margin: auto;
  }

  main p{
    display: none;
  }

  footer{
    height:0;
  }

  .ice-cream h2{
    display: none;
  }

  .ice-cream img{
    width: 22rem;
    object-fit: cover;
    object-position: bottom;
    border-radius: 2rem;
  }

  .images .ice-cream:nth-child(1) img, 
  .images .ice-cream:nth-child(3) img,
  .images .ice-cream:nth-child(5) img{
    height: 15.0rem;
  }

  .images .ice-cream:nth-child(2) img, 
  .images .ice-cream:nth-child(4) img,
  .images .ice-cream:nth-child(6) img{
    height: 35.0rem;
  }

  .images{
    display: grid;
    grid-template-areas: 
    "paletas shakes"
    "picoles shakes"
    "picoles massas";
    justify-content: center;
  }
}

@media(max-width: 1280px){
  .images div:nth-child(5),
  .images div:nth-child(6){
    display: none;
  }
}

@media(min-width: 1280px){
  .images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "paletas shakes paletas02"
    "picoles shakes picoles02"
    "picoles massas picoles02";
    justify-content: center;
  }

  .images div:nth-child(1){
    grid-area: paletas;
  }

  .images div:nth-child(3){
    grid-area: massas;
  }

  .images div:nth-child(2){
    grid-area: shakes;
  }

  .images div:nth-child(4){
    grid-area: picoles;
  }

  .images div:nth-child(5){
    grid-area: paletas02;
  }

  .images div:nth-child(6){
    grid-area: picoles02;
  }

}